<form [formGroup]="userForm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="row justify-content-center front-elements">
          <div class="col-md-5" align="right">
            <label class="front-labels" for="lvl">Poziom</label>
            <input id="lvl" style="width:60px;" type="number" value="100" min="0" max="300">
          </div>
          <div class="col-md-7" formControlName="attributes_counter">
            Liczba bonusów: {{count_attributes()}}/72
          </div>
        </div>
        <div class="row justify-content-center front-elements">
          <div class="col-md-5" align="right">
            <label class="front-labels" for="rarity">Jakość</label>
            <input id="rarity" style="width:60px;" type="number" value="100" min="0" max="300">
          </div>
          <div class="col-md-7">
            <button type="button" class="toggle">W</button>
            <button type="button" class="toggle">B</button>
            <button type="button" class="toggle">P</button>
            <button type="button" class="toggle">M</button>
            <button type="button" class="toggle">T</button>
            <button type="button" class="toggle">H</button>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="item-window">
          <div class="item-name-section">
            Testowy przedmiot
          </div>
          <div class="item-attributes-section" *ngFor="let entry of attributes | keyvalue">
            {{entry.key}}: {{entry.value}}
          </div>
        </div>
      </div>
      <div class="grid-container col-md-8">
        <div class="grid-element">
          <label for="da">Wszystkie cechy</label>
          <input id="da" formControlName="da" type="number" value="1" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="hp">Życie</label>
          <input id="hp" formControlName="hp" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="crit">Cios krytyczny</label>
          <input id="crit" formControlName="crit" type="number" value="0" min="0" max="4">
        </div>

        <div class="grid-element">
          <label for="ds">Siła</label>
          <input id="ds" formControlName="ds" type="number" value="2" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="heal">Leczenie</label>
          <input id="heal" formControlName="heal" type="number" value="0" min="0" max="2">
        </div>
        <div class="grid-element">
          <label for="critval">s.k. fizycznego</label>
          <input id="critval" formControlName="critval" type="number" value="0" min="0" max="5">
        </div>

        <div class="grid-element">
          <label for="di">Intelekt</label>
          <input id="di" formControlName="di" type="number" value="3" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="ac">Pancerz</label>
          <input id="ac" formControlName="ac" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="critval_mag">s.k. magicznego</label>
          <input id="critval_mag" formControlName="critval_mag" type="number" value="0" min="0" max="5">
        </div>

        <div class="grid-element">
          <label for="dz">Zręczność</label>
          <input id="dz" formControlName="dz" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="resfire">Odp. na ogień</label>
          <input id="resfire" formControlName="resfire" type="number" value="0" min="0" max="10">
        </div>
        <div class="grid-element">
          <label for="lowcrit">Obniżanie CK</label>
          <input id="lowcrit" formControlName="lowcrit" type="number" value="0" min="0" max="2">
        </div>

        <div class="grid-element">
          <label for="sa">Szybkość ataku</label>
          <input id="sa" formControlName="sa" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="resfrost">Odp. na zimno</label>
          <input id="resfrost" formControlName="resfrost" type="number" value="0" min="0" max="10">
        </div>
        <div class="grid-element">
          <label for="acdmg">Niszcz. pancerza</label>
          <input id="acdmg" formControlName="acdmg" type="number" value="0" min="0" max="4">
        </div>

        <div class="grid-element">
          <label for="slow">Obniżanie SA</label>
          <input id="slow" formControlName="slow" type="number" value="0" min="0" max="2">
        </div>
        <div class="grid-element">
          <label for="reslight">Odp. na błyskawice</label>
          <input id="reslight" formControlName="reslight" type="number" value="0" min="0" max="10">
        </div>
        <div class="grid-element">
          <label for="acmdmg">Niszcz. odporności</label>
          <input id="acmdmg" formControlName="acmdmg" type="number" value="0" min="0" max="4">
        </div>

        <div class="grid-element">
          <label for="energy">Energia</label>
          <input id="energy" formControlName="energy" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="act">Odp. na truciznę</label>
          <input id="act" formControlName="act" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="endest">Niszcz. energii</label>
          <input id="endest" formControlName="endest" type="number" value="0" min="0" max="2">
        </div>

        <div class="grid-element">
          <label for="mana">Mana</label>
          <input id="mana" formControlName="mana" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="abs">Absorpcja</label>
          <input id="abs" formControlName="abs" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="manadest">Niszcz. many</label>
          <input id="manadest" formControlName="manadest" type="number" value="0" min="0" max="2">
        </div>

        <div class="grid-element">
          <label for="evade">Unik</label>
          <input id="evade" formControlName="evade" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="absm">Absorpcja mag.</label>
          <input id="absm" formControlName="absm" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="lowevade">Obniżanie uniku</label>
          <input id="lowevade" formControlName="lowevade" type="number" value="0" min="0" max="5">
        </div>

        <div class="grid-element">
          <label for="block">Blok</label>
          <input id="block" formControlName="block" type="number" value="0" min="0" max="5">
        </div>
        <div class="grid-element">
          <label for="pierceb">Blok przebicia</label>
          <input id="pierceb" formControlName="pierceb" type="number" value="0" min="0" max="4">
        </div>
        <div class="grid-element">
          <label for="pierce">Przebicie pancerza</label>
          <input id="pierce" formControlName="pierce" type="number" value="0" min="0" max="4">
        </div>

        <div class="grid-element">
          <label for="contra">Kontra</label>
          <input id="contra" formControlName="contra" type="number" value="0" min="0" max="4">
        </div>
        <div class="grid-element">
          <label for="absdest">Niszczenie absorpcji</label>
          <input id="absdest" formControlName="absdest" type="number" value="0" min="0" max="4">
        </div>
      </div>
    </div>

  </div>
</form>
